%p#notice= notice
%p
  %strong Name:
  = @store.name
%p
  %strong Location:
  = @store.location
= link_to 'Edit', edit_store_path(@store)
|
\#{link_to 'Back', stores_path}
= link_to 'Create Product', new_store_product_path(@store)