%p#notice= notice
%p
  %strong Name:
  = @store.name
%p
  %strong Location:
  = @store.location
= link_to 'Edit', edit_store_path(@store)
|
#{link_to 'Back', stores_path}
%hr
= link_to 'Create Product', new_store_product_path(@store)
%br
- @products.each do |product|
  %br
  %strong Name: 
  = product.name
  %br
  %strong Image: 
  = product.image
  %br
  %strong Description: 
  = product.description
  %br
  %strong Price: 
  = product.price
  %br