%h4 These are the items in your cart

= @product.each do |product|
  = @product.image
  %br
  = @product.description
  %br
  = @product.price
 |
  = link_to "Delete", store_product_path(@store, product), method: :delete